* {
    background-color: #F3F1EB;
    font-family: "Afacad", sans-serif;
}

h1 {
    color: #311041;
    font-family: "Afacad", sans-serif;
}

p {
    color: #311041;
    font-family: "Ubuntu", sans-serif;    ;
}

