.card-projeto {
    width: 350px;

    background: #ffffff;

    border-radius: 30px;

    overflow: hidden;

    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.18);

    display: flex;
    flex-direction: column;
}


/* ============================= */
/* IMAGEM */
/* ============================= */

.card-imagem-container {
    position: relative;

    height: 160px;

    background: #d9d9d9;

    overflow: hidden;
}

.card-imagem {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
}


/* ============================= */
/* ODS */
/* ============================= */

.card-ods {
    position: absolute;

    top: 19px;
    right: 18px;

    display: flex;

    gap: 8px;
}


/* ============================= */
/* CONTEÚDO */
/* ============================= */

.card-conteudo {
    min-height: 210px;

    padding: 16px 41px 16px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.card-titulo {
    margin: 0;

    font-family: "Ubuntu", sans-serif;

    font-size: 20px;
    font-weight: 700;

    color: #111;
}

.card-subtitulo {
    margin: 2px 0 15px;

    font-size: 18px;

    color: #444;
}

.card-curso {
    margin: 0;

    font-size: 17px;

    color: #333;
}

.card-local {
    display: flex;

    gap: 20px;

    margin-top: 5px;
    margin-bottom: 20px;

    font-size: 17px;

    color: #333;
}


/* ============================= */
/* BOTÃO */
/* ============================= */

.card-botao {
    margin-top: auto;

    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;

    background: #5f2d79;

    color: #ffffff;

    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    transition: 0.2s;
}

.card-botao:hover {
    background: #4d2165;

    transform: translateY(-1px);
}