.card-projeto{
    width:350px;
    background:white;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
    display:flex;
    flex-direction:column;
}

.card-imagem-container{
    position:relative;
    height:170px;
    background:#d9d9d9;
}

.card-imagem{
    width:100%;
    height:100%;
    object-fit:cover;
}

.card-ods{
    position:absolute;
    top:18px;
    right:18px;
    display:flex;
    gap:8px;
}

.ods-tag{
    padding:5px 12px;
    border-radius:20px;
    color:white;
    font-size:10px;
    font-weight:600;
}

.ods-4{
    background:#c5192d;
}

.ods-9{
    background:#fd6925;
}

.card-conteudo{
    padding:20px 40px;
    display:flex;
    flex-direction:column;
    flex:1;
}

.card-titulo{
    font-size:28px;
    font-weight:700;
    color:#121212;
}

.card-subtitulo{
    font-size:18px;
    color:#444;
    margin-bottom:20px;
}

.card-curso{
    font-size:18px;
    color:#333;
}

.card-local{
    display:flex;
    gap:20px;
    margin-top:5px;
    margin-bottom:25px;
}

.card-botao{
    margin-top:auto;

    background:#5f2d79;
    color:white;

    text-decoration:none;

    height:42px;
    border-radius:30px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:600;
}