.ods-tag {

    padding: 3px 6px;

    border-radius: 20px;

    color: #ffffff;

    font-size: 6px;

    font-weight: 700;

    line-height: 1;

    white-space: nowrap;

}


.ods-4 {

    background: #c5192d;

}


.ods-9 {

    background: #fd6925;

}


.ods-11 {

    background: #fd9d24;

}


.ods-12 {

    background: #bf8b2e;

}