html {
    height: 100%;
}

* {
    box-sizing: border-box;

    color: #311041 !important;
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0 !important;
    height: 100%;

    color: #311041;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

nav {
    /* height: 56px; */
    width: 100%;
    padding: 14px;
    display: flex;
    justify-content: right;
    align-items: center;

    background-color: #F3F1EB;
}

/* ------- Menu -------- */
.linksMenu-container {
    display: flex;
    border-radius: 16px 0 16px 16px;
}

.linkMenu {
    padding: 24px 32px 32px 32px;

    border-bottom: 2px solid #e07b5f00;
    transition: all 0.3s ease;
    color: #311041 !important;
}

.linkMenu:hover {
    cursor: pointer;
    color: #9900F2 !important;
}

.hamburgerBtn {
    display: none;
    border: none;
    background: none;
    padding: 0;

    border-top: 3px solid #50514f;
    cursor: pointer;
}

.hamburgerBtn::before,
.hamburgerBtn::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #50514f;
    margin-top: 5px;

    position: relative;
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}



@media (max-width: 880px) {
    nav {
        min-height: 56px;
    }

    .hamburgerBtn {
        display: block;
        z-index: 101;
    }

    .linksMenu-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: auto;
        background-color: #ffffff;
        clip-path: circle(100px at 90% -100%);
        z-index: 100;

        padding: 56px 0 32px 0;

        transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);

        flex-direction: column;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .linkMenu {
        opacity: 0;

        margin: 11px 0 11px 0;

        transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

        padding: 0;
    }

    .linkMenu:hover {
        cursor: pointer;
        color: #9900F2 !important;
    }

    .linkMenu:nth-child(1) {
        transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.2s;
    }
    
    .linkMenu:nth-child(2) {
        transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.4s;
    }
    
    .linkMenu:nth-child(3) {
        transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s;
    }

    /*  Estilos ativos  */

    nav.active .linksMenu-container {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        top: 0;
    }
    
    nav.active .linkMenu {
        opacity: 1;
    }
    
    nav.active .hamburgerBtn {
        position: fixed;
        top: 20px;
        right: 8px;
        border-top-color: transparent;
    }

    nav.active .hamburgerBtn::before {
        transform: rotate(135deg);
    }

    nav.active .hamburgerBtn::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}

/* ------------------------------ */
